@import "../../../../styles.scss";

* {
  box-sizing: border-box;
}

.backstage {
  background: url("../../../../assets/images/giant-panda.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -80px;
  max-width: 1600px;
  padding-top: 20px;
  overflow: hidden;

  &__content {
    display: flex;
    justify-content: flex-end;
    margin-right: -170px;
  }
  &__text {
    position: relative;
    left: -386px;
    top: 80px;
    z-index: 10;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 106.496px;
    line-height: 75%;
    text-align: center;
    text-transform: uppercase;
    color: $white;
    width: 500px;
    word-wrap: break-word;
    text-align: center;
  }
  &__text_yellow {
    color: $yellow;
  }
  &__sun {
    width: 465px;
    height: 465px;
    border: none;
    border-radius: 100%;
    background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  }
  &__button {
    width: 300px;
    height: 55px;
    background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
    border-radius: 25px;
    color: $white;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    margin-left: auto;
    margin-top: 60px;
    margin-right: 320px;
    margin-bottom: 100px;
    &:hover {
      cursor: pointer;
      background: #e47209;
    }
    &:active {
      cursor: pointer;
      background: $green;
    }
    &:disabled {
      background: $gray;
      cursor: default;
    }
  }
}
