<section>
  <div class="slider" style="width: 60%; background: white; margin: 0 auto; ">
    <swiper
      [slidesPerView]="4"
      [spaceBetween]="50"
      (swiper)="setControlledSwiper($event)"
      [scrollbar]="{ draggable: true }"
      [watchSlidesProgress]="true"
      [keyboard]="{
        enabled: true
      }"
    >
      <ng-template swiperSlide *ngFor="let card of cards;"><app-card [card]="card" style="height: 400px;">Slide 1</app-card></ng-template>

    </swiper>
  </div>
</section>
