<section class="testimonials">
  <h2 class="testimonials__title">Testimonials</h2>
  <div class="slider" style="width: 1160px; background: white; margin: 0 auto; ">
    <swiper class="swiper"
      [slidesPerView]="4"
      [spaceBetween]="30"
      (swiper)="setControlledSwiper($event)"
      [scrollbar]="{ draggable: true }"
      [watchSlidesProgress]="true"
      [keyboard]="{
        enabled: true
      }"
    >
      <ng-template swiperSlide *ngFor="let card of cards;"><app-card [card]="card" style="height: 400px;">Slide 1</app-card></ng-template>

    </swiper>

  </div>
  <div class="button">
    <app-button [content]="content" class="test"></app-button>
  </div>
</section>
