@import '../../../../../styles.scss';

.card {
  background: linear-gradient(#f1f3f2, #f1f3f2) padding-box, linear-gradient( 0deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54% ) border-box !important;
  border: 2px solid transparent;
  width: 268px;
  height: 391px;

  border-radius: 20px;
  padding: 15px;
  box-sizing: border-box;
  &__author {
    display: flex;
    gap: 10px;
  }
  &__title {
    @include fonts(16px, 120%);
    color: $black;
  }
  &__place {
    @include fonts(15px, 120%, 300);
    color: #BDBDBD;
  }
  &__place:first-child {
    list-style: none;
  }
  &__subtitle {
    display: flex;
    gap: 30px;
  }
  &__text {
    height: 308px;
    overflow: hidden;
    white-space: pre-line;
    @include fonts(15px, 120%, 300);
    color: $gray;
  }
  &__author-info {
    margin-bottom: 10px;
  }
}
