@import "../../styles.scss";

.map {
  background-color: $ocean;
  height: 945px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  padding: 0;
}
#map {
  height: 945px;
  width: 100%;
  position: relative;
  //max-width: 600px;
}

app-map #map .leaflet-control-attribution.leaflet-control {
  display: none;
}
app-map #map div.leaflet-pane.leaflet-popup-pane div.leaflet-popup.leaflet-zoom-animated {
  transform: rotate(180deg);
}

app-map #map div.leaflet-control-container div.leaflet-bottom.leaflet-right div.leaflet-control-zoom.leaflet-bar.leaflet-control a.leaflet-control-zoom-in span {
    font-size: 40px;
}

app-map #map div.leaflet-control-container div.leaflet-bottom.leaflet-right div.leaflet-control-zoom.leaflet-bar.leaflet-control a.leaflet-control-zoom-out span {
  font-size: 40px;
}

app-map #map div.leaflet-control-container div.leaflet-bottom.leaflet-right div.leaflet-control-zoom.leaflet-bar.leaflet-control a.leaflet-control-zoom-in,
app-map #map div.leaflet-control-container div.leaflet-bottom.leaflet-right div.leaflet-control-zoom.leaflet-bar.leaflet-control a.leaflet-control-zoom-out {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
}


.popup {
/*   padding: 10px;
  padding-bottom: 15px; */
  &__title,
  &__subtitle {
    @include fonts(16px, 140%);
    color: $black;
  }
  &__subtitle {
    margin-bottom: 10px;
  }
  &__button {
    @include fonts(16px, 140%);
    color: $green;
    padding: 4px 17px;
    background: #f1f3f2;
    border-radius: 5px;
    outline: none;
    border: none;
    &:hover {
      background: darken($color: #f1f3f2, $amount: 5);
    }
  }
}
