@import "../../../../styles.scss";

:host {
  background: $white;
}

.animal {
  margin: 0 auto;

  &__title {
    text-align: left;
    @include fonts(48px, 120%);
    color: $black-blue;
    padding-bottom: 15px;
    width: 1162px;
    margin: 0 auto;
  }

  &__youtube {
    width: 1162px;
    margin: 0 auto;
  }

  &__image {
    width: 100%;
  }
}
