<section class="pick">
  <div class="pick__content">
    <div class="pick__top">
      <div class="pick__top-title">Pick and feed a friend</div>
      <div class="pick__top-subtitle">
        We know the animals bring you joy, and in these extraordinary times,
        we’re glad.
      </div>
      <div class="pick__top-text">
        <p class="pick__top-paragraph">
          During a time when the COVID-19 epidemic is touching all of our lives,
          we’re proud and glad that people around the world find joy in
          PatStory.
        </p>
        <p class="pick__top-paragraph">
          Even though the zoo has reopened, we need you now more than ever to
          help us deal with these problems. Please consider a gift to our
          <span style="border-bottom: 1px solid orange"
            >Emergency Support Fund .</span
          >
        </p>
      </div>
    </div>
    <div class="pick__bottom">
      <div class="pick__bottom-title">How it works</div>
      <div class="pick__bottom-cards">
        <div class="pick__card card">
          <div class="card__image">
            <img src="assets/images/pay.png" alt="pay" />
          </div>

          <p class="card__title">Pay with card</p>
        </div>
        <div class="pick__arrow">
          <img src="assets/images/pick-arrow.png" alt="arrow" />
        </div>
        <div class="pick__card card">
          <div class="card__image">
            <img src="assets/images/hand.png" alt="hand" />
          </div>

          <p class="card__title">Payment goes to the zoo</p>
        </div>
        <div class="pick__arrow">
          <img src="assets/images/pick-arrow.png" alt="arrow" />
        </div>
        <div class="pick__card card">
          <div class="card__image">
            <img src="assets/images/monkey.png" alt="monkey" />
          </div>
          <p class="card__title">Your favourite animal gets delicious dish</p>
        </div>
      </div>
      <div class="pick__bottom-button">
        <button class="pick__button">Feed a friend now</button>
      </div>
    </div>
  </div>
</section>
