@import "../../../../styles.scss";

.button {
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  border-radius: 25px;
  @include fonts(16px, 150%, 500);
  text-align: center;
  text-transform: uppercase;
  color: $white;
  padding: 16px 50px 16px 50px;
  width: 298px;
  height: 54px;
  outline: none;
  border: none;
  &:hover {
    cursor: pointer;
    background: #e47209;
  }
  &:active {
    cursor: pointer;
    background: $green;
  }
  &:disabled {
    background: $gray;
    cursor: default;
  }
}
