@import '../../styles.scss';

.animals {
  position: relative;
  min-height: calc(100vh - 500px);
  padding-top: 40px;
  b

  &__sidebar {
    position: absolute;
    left: 30px;
    top: 190px;
  }
}
