<header class="header">
  <div class="logo"><app-logo></app-logo></div>
  <nav class="header__nav nav">
    <ul class="nav__list">
      <li class="nav__list-item" >
        <a class="nav__list-link"
         routerLink="/"
         routerLinkActivate="active"
         [class.active]="!(url.includes('map') || url.includes('animals') || url.includes('contact'))">About
        </a>
      </li>
      <li class="nav__list-item" >
        <a class="nav__list-link" routerLink="/map" routerLinkActivate="active" [class.active]="url.includes('map')">Map</a>
      </li>
      <li class="nav__list-item" >
        <a class="nav__list-link" routerLink="/animals" routerLinkActivate="active" [class.active]="url.includes('animals')">Zoos</a>
      </li>
      <li class="nav__list-item">
        <a class="nav__list-link" routerLink="/contact" routerLinkActivate="active" [class.active]="url.includes('contact')">Contact us</a>
      </li>
    </ul>
  </nav>
</header>
